@import url("https://fonts.cdnfonts.com/css/rotondac");
/* font-family: 'RotondaC', sans-serif; */
@import url("https://fonts.cdnfonts.com/css/morehla");
/* font-family: 'Morehla', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (min-width: 320px) {

  body,
  .navbar,
  h2,
  .formulario,
  .footer,
  .presentation__frontPage,
  .know,
  .know__icons,
  .projects,
  .projects__container,
  .ability,
  .ability__container,
  .interests,
  .contact,
  .contact__form legend,
  .btn:hover {
    background-image: linear-gradient(52deg,
        rgba(163, 163, 163, 0.09) 0%,
        rgba(163, 163, 163, 0.09) 33.3%,
        rgba(100, 100, 100, 0.09) 33.3%,
        rgba(100, 100, 100, 0.09) 66.6%,
        rgba(162, 162, 162, 0.09) 66.6%,
        rgba(162, 162, 162, 0.09) 99%),
      linear-gradient(258deg,
        rgba(193, 193, 193, 0.06) 0%,
        rgba(193, 193, 193, 0.06) 33.3%,
        rgba(169, 169, 169, 0.06) 33.3%,
        rgba(169, 169, 169, 0.06) 66.6%,
        rgba(92, 92, 92, 0.06) 66.6%,
        rgba(92, 92, 92, 0.06) 99%),
      linear-gradient(129deg,
        rgba(45, 45, 45, 0.03) 0%,
        rgba(45, 45, 45, 0.03) 33.3%,
        rgba(223, 223, 223, 0.03) 33.3%,
        rgba(223, 223, 223, 0.03) 66.6%,
        rgba(173, 173, 173, 0.03) 66.6%,
        rgba(173, 173, 173, 0.03) 99%),
      linear-gradient(280deg,
        rgba(226, 226, 226, 0.06) 0%,
        rgba(226, 226, 226, 0.06) 33.3%,
        rgba(81, 81, 81, 0.06) 33.3%,
        rgba(81, 81, 81, 0.06) 66.6%,
        rgba(186, 186, 186, 0.06) 66.6%,
        rgba(186, 186, 186, 0.06) 99%),
      linear-gradient(85deg,
        rgba(225, 225, 225, 0.04) 0%,
        rgba(225, 225, 225, 0.04) 33.3%,
        rgba(95, 95, 95, 0.04) 33.3%,
        rgba(95, 95, 95, 0.04) 66.6%,
        rgba(39, 39, 39, 0.04) 66.6%,
        rgba(39, 39, 39, 0.04) 99%),
      linear-gradient(128deg,
        rgba(184, 184, 184, 0.06) 0%,
        rgba(184, 184, 184, 0.06) 33.3%,
        rgba(0, 0, 0, 0.06) 33.3%,
        rgba(0, 0, 0, 0.06) 66.6%,
        rgba(140, 140, 140, 0.06) 66.6%,
        rgba(140, 140, 140, 0.06) 99.89999999999999%),
      linear-gradient(323deg,
        rgba(40, 40, 40, 0.07) 0%,
        rgba(40, 40, 40, 0.07) 33.3%,
        rgba(214, 214, 214, 0.07) 33.3%,
        rgba(214, 214, 214, 0.07) 66.6%,
        rgba(190, 190, 190, 0.07) 66.6%,
        rgba(190, 190, 190, 0.07) 99.89999999999999%),
      linear-gradient(61deg,
        rgba(230, 230, 230, 0) 0%,
        rgba(230, 230, 230, 0) 33.3%,
        rgba(241, 241, 241, 0) 33.3%,
        rgba(241, 241, 241, 0) 66.6%,
        rgba(55, 55, 55, 0) 66.6%,
        rgba(55, 55, 55, 0) 99%),
      linear-gradient(0deg, #2625e3, #0bbaef);
  }

  .navbar {
    width: 100%;
    height: 40px;
    padding-right: 10px;
    position: relative;
    position: fixed;
    z-index: 2;
  }

  .chekbox,
  .fa-solid {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 9px;
    right: 12px;
  }

  .fa-solid {
    pointer-events: none;
    font-size: 24px;
  }

  .chekbox {
    opacity: 0;
  }

  .navbar .fa-x {
    display: none;
  }

  .chekbox:checked~.fa-bars {
    display: none;
  }

  .chekbox:checked~.fa-x {
    display: block;
  }

  .navbar__menu {
    width: 200px;
    position: absolute;
    top: -212px;
    right: 0;
    z-index: -1;
    transition: 300ms;
  }

  .navbar__menu li {
    list-style: none;
  }

  .navbar__menu li a {
    text-decoration: none;
    color: black;
    background-color: #3232f0;
    display: block;
    padding: 8px 8px;
  }

  .navbar__menu li a:hover {
    background-color: #378c94;
  }

  .chekbox:checked~.navbar__menu {
    top: 40px;
  }

  h2 {
    font-family: "RotondaC", sans-serif;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    margin: 3px;
    text-align: center;
    color: black;
  }

  .container h2 {
    width: 100%;
    font-family: "Lato", sans-serif;
    color: aliceblue;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  h1 {
    font-family: "Morehla", sans-serif;
    text-align: center;
    font-size: 4rem;
    color: aliceblue;
  }

  .container__video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
  }

  .container__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }

  .presentation__frontPage {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .presentation__frontPage-image {
    display: flex;
  }

  .presentation__frontPage-image img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-family: "RotondaC", sans-serif;
    font-size: 20px;
    padding: 7px;
    margin: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
  }

  .know {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .know__icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    justify-content: center;
    align-items: center;
  }

  .know__icons img {
    width: 40%;
    height: 40%;
  }

  .projects {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-top: 30px;
  }

  .projects__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .projects__container img {
    width: 95%;
    height: 95%;
    padding: 10px;
  }

  .ability {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-top: 30px;
  }

  .ability__container {
    font-family: "RotondaC", sans-serif;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    margin-top: 30px;
  }

  .ability__container ul li {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "RotondaC", sans-serif;
    padding: 10px;
    margin: 3px;
  }

  .interests {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }

  h3 {
    font-family: "RotondaC", sans-serif;
    font-size: 20px;
    padding: 7px;
    margin: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
  }

  .interests__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
  }

  .interests__container-icons {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .interests__container-icons img {
    width: 100%;
  }

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact__title {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-top: 20px;
  }

  .contact__form {
    width: 90%;
  }

  .contact__form fieldset {
    border: 2px solid blue;
    margin: bottom 1rem;
    padding: 25px;
    align-items: center;
    font-family: "RotondaC", sans-serif;
  }

  .contact__form legend {
    width: 90%;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: 700px;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 10px;
  }

  .field label {
    flex-basis: 1rem;
  }

  input {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "RotondaC", sans-serif;
  }

  .field input:not([type="radio"]),
  .field textarea,
  .field select {
    flex: 1;
    border: 2px solid blue;
    padding: 5px;
  }

  .btn {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.2s ease-out;
    text-align: center;
    border: none;
    width: 70%;
    border-radius: 20px;
  }

  .networks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 20px;
    background-color: darkslateblue;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .navbar{
    display: flex;
    justify-content: space-between;
  }

  .chekbox,
  .fa-bars,
  .fa-x {
    display: none;
    visibility: hidden;
  }


.navbar__menu {
  display: flex;
  width: unset;
  height: 100%;
  align-items: center;
  top: 0;
  z-index: 0;
  justify-content: space-between;
}
.navbar__menu li a{
  background-color: transparent;
}
.presentation__frontPage {
  flex-direction: row;
}

.presentation__frontPage-image {
  width: 350%;
}

.presentation__frontPage img {
  height: 100%;
  padding: 2%;
}

p {
  font-size: 1.5rem;
  margin-top: 90px;
}

.know__icons img {
  width: 30%;
}

.projects__container {
  flex-direction: row;
}

.projects__container img {
  width: 50%;
  padding: 17px;
}

.ability__container {
  font-size: 30px;
}

.ability__container ul li {
  padding-bottom: 20px;
}

h3 {
  font-size: 40px;
  padding: 10px;
  margin: 10px;
}

.interests__container {
  width: 100%;
}

.contact__form {
  width: 75%;
}

.networks__container {
  width: 100%;
  display: flex;
  gap: 10%;
  justify-content: center;
}

}
@media (min-width: 1024px) {
  .chekbox:checked~.menu {
    top: 40px;
  }

  .container h1 {
    font-size: 8rem;
  }

  .presentation__frontPage-image {
    width: 200%;
  }

  .presentation__frontPage p {
    font-size: 2rem;
    align-items: center;
    margin-top: 20px;
  }


  .know__icons img {
    width: 20%;
  }

  .interests__container {
    display: flex;
    flex-direction: row;
  }

  .contact__form {
    width: 65%;
  }

  .btn {
    margin-left: 85px;
  }
}